<h2> Edit Hero </h2>

<form method="post" action="/superheroes/<%=@superhero.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @superhero.name %>">
  <input type="text" name="superpower" value="<%= @superhero.superpower %>">
  <input type="text" name="motto" value="<%= @superhero.motto %>">
  <input type="text" name="suit_color" value="<%= @superhero.suit_color %>">
  <input type="text" name="city" value="<%= @superhero.city %>">
  <input type="integer" name="age" value="<%= @superhero.age %>">
  <input type="submit" value="submit">
</form>
