<% @superheroes.each do |superhero| %>
  <u><h2>Meet the Heroes!</h2></u>
  <u><h3>Name:</u> <%= superhero.name %></h3>
  <u><h3>Superpower:</u> <%= superhero.superpower %></h3>
  <u><h3>Motto:</u> <%= superhero.motto %></h3>
  <u><h3>Suit Color:</u> <%= superhero.suit_color %></h3>
  <u><h3>City:</u> <%= superhero.city %></h3>
  <u><h3>Age:</u> <%= superhero.age %></h3>
  <a href="/superheroes/<%=superhero.id%>/edit">Edit this hero</a>
  <br />
  <br />
<% end %>
