
<center><h2> Meet the Heroes! </h2>
<% @superheroes.each do |hero| %>
  <div>
      <u>Name:</u> <%= hero.name %><br>
      <u>Superpower:</u> <%= hero.superpower %><br>
      <u>Motto:</u> <%= hero.motto %><br>
      <u>Suit Color:</u><%= hero.suit_color %><br>
      <u>City:</u> <%= hero.city %><br>
      <u>Age:</u> <%= hero.age %><br>
  </div>
  <br  />
<% end %>
