<% @superheroes.each do |superhero| %>
  <%= superhero.name %><br />
  <%= superhero.superpower %> <br />
  <%= superhero.motto %> <br />
  <%= superhero.suit_color %> <br />
  <%= superhero.city %> <br />
  <%= superhero.age %> <br />
  <a href="/superheroes/<%=superhero.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>
