<% @user.superheroes.each do |hero| %>
<li><%= hero.name %></li>
<li><%= hero.superpower %></li>
<li><%= hero.motto %></li>
<li><%= hero.suit_color %></li>
<li><%= hero.city %></li>
<li><%= hero.age %></li>
<% end %>
