<%= @sidekick.name %><br><br>
<%= @sidekick.superpower %> <br><br>
Superhero: <a href="/superheroes/<%=@sidekick.superhero.id%>"><%= @sidekick.superhero.name %></a> <br />
<a href="/superheroes/<%=@superhero.id%>/edit">Edit</a>
<br />
<br />
