<%= @sidekick.name %><br />
<%= @sidekick.superpower %> <br />
Superhero: <a href="/superheroes/<%=@sidekick.superhero.id%>"><%= @sidekcik.superhero.name %></a> <br />
<a href="/superheroes/<%=@superhero.id%>/edit">Edit</a>
<br />
<br />
